/* src/App.css */
.app-container{
    background-image: url("https://img.freepik.com/free-photo/high-angle-uncompleted-voting-questionnaire-close-up_23-2148265550.jpg?semt=ais_user");
    background-repeat: no-repeat;
      background-size: cover; 
      background-position: center; 
      background-attachment: fixed; 
    }
  
  .app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-panel, .right-panel {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    
  }
  
  
  