.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  flex-grow: 1;
  
}

.intro-text {
  margin-left:5%;
  max-width: 50%;
}

.intro-text h1 {
  font-size: 58px;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 20px;
  margin-bottom: 30px;
}

.sign-up-free {
  padding: 15px 30px;
  font-size: 28px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  height:60px;
}

.intro-image img {
  max-width: 100%;
}
